<!doctype html>
<html lang="en">
<head>
    <title>SUPER SECRET MENU PAGE</title>
</head>

<body>
    <form action="/menu_submission/" method="POST">
        <label for="page_menu">What secure page would you like to see?</label>
        <p>
            <select id="page_menu" name="page_menu">
                <option value="list_bucket">list bucket</option>
                <option value="upload_direct_url_2">upload</option>
            </select>
        </p>
        <p><input type="hidden" id="token" name="token" value="{{ token }}"></p>
        <p><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/></p>
        <p><input type = "submit" value = "Submit" /></p>     
    </form>

</body>