<!doctype html>
<html lang="en">
<head>
    <title>SUPER SECRET Upload page</title>
</head>

<body>
    <form action="/upload/" method="POST">
        <label for="page_menu">What secure page would you like to see?</label>
        <p>
            <select id="page_menu" name="page_menu">
                <option value="list_bucket">list bucket</option>
                <option value="upload">upload</option>
            </select>
        </p>
        <p><input type="hidden" id="token" name="token" value="{{ token }}"></p>
        <p><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/></p>
        <p><input type = "submit" value = "Submit" /></p>     
    </form>

</body>


<form action="/upload" method="POST" enctype="multipart/form-data">

    <label for="image_file">Upload Your File</label>
    <br>
    <input type="file" name="image_file">
    <br>
    <input type="hidden" id="token" name="token" value="{{ token }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit">Upload</button>

</form>