<!doctype html>
<html lang="en">
<head>
    <title>SUPER SECRET Upload page</title>
    <script>

        function get_request(){
            let myPromise = new Promise(function(myResolve, myReject) {
                var files = document.getElementById("file_input").files;
                if(files.length < 1){
                    return alert("No file selected.");
                }
                for(let i = 0; i < files.length; i++){
                    var file = files[i];
                    getSignedRequest(file);
                }

                myResolve();
                myReject();

            });

            myPromise.then(
                function() {
                    document.write('<html><body><h2>upload succeeded</h2></body></html>');
                    // TODO: redirect to menu or can this just redirect without the success message?
                },
                function() {
                    document.write('<html><body><h2>upload failed</h2></body></html>')
                    // TODO: put failure notice in db for display until user deletes it?
                }
            )

        }

        function getSignedRequest(file){
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type, true);
            xhr.onreadystatechange = function(){
                if(xhr.readyState === 4){
                    if(xhr.status === 200){
                        var response = JSON.parse(xhr.responseText);
                        uploadFile(file, response.data, response.url);
                    }
                    else{
                        alert("Could not get signed URL.");
                    }
                }
            };
            xhr.send();
        }

        function uploadFile(file, s3Data, url){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", s3Data.url, true);

            var postData = new FormData();
            for(key in s3Data.fields){
                postData.append(key, s3Data.fields[key]);
            }
            postData.append('file', file);

            xhr.onreadystatechange = function() {
                if(xhr.readyState === 4 && xhr.status === 200){
                    // alert("worked");
                }else if(xhr.readyState === 4 && xhr.status === 0){
                    //alert("worked for local test"); 
                }else{
                    alert("upload failed");
                    alert(xhr.readyState);
                    alert(xhr.status);
                }
            };
            xhr.send(postData);
        }

    </script>
</head>
<body>
    <form>

        <label for="image_file">Upload Your Files</label>
        <br>
        <input type="file" id="file_input" multiple>        
        <br>
        <button type="submit" onclick="get_request()">Upload</button>
    
    </form>

</body>
